# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ng-app/dist
ng-app/tmp
ng-app/out-tsc

# dependencies
ng-app/node_modules


# IDE - VSCode
.vscode/*
.history/*

# misc
ng-app/.sass-cache
ng-app/connect.lock
ng-app/coverage
ng-app/libpeerconnection.log
ng-app/npm-debug.log
ng-app/yarn-error.log
ng-app/testem.log
ng-app/typings

# System Files
.DS_Store
Thumbs.db
