@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
  font-size: 16px;
}

input:focus,
button:focus {
	outline: none;
}

button:hover {
	opacity: .8;
}

button:active, :disabled {
	opacity: .5;
}

.container {
	width: 400px;
  text-align: center;
  margin: 10% auto 0 auto;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #999;
  margin-bottom: 30px;
  position: relative;
}

.score {
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .result {
    font-size: 2rem;
  }
}

.input-form {
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fafafa;
    border: 1px solid transparent;
    color: #777;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    position: relative;

    &:focus {
      background: #fcfcfc;
      border: 1px solid #ddd;
    }
  }

  button {
    display: inline-block;
    text-decoration: none;
    background: #5892fc;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;

    &[type="submit"] {
      margin-right: 15px;
    }
  }
}