
.score {
  font-size: 1.2rem;
  font-weight: 600;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .result {
    font-size: 2rem;
  }
}

.input-form {
  .answer {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fafafa;
    border: 1px solid transparent;
    color: #777;
    border-radius: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    position: relative;

    &:focus {
      background: #fcfcfc;
      border: 1px solid #ddd;
    }
  }

  button {
    display: inline-block;
    text-decoration: none;
    background: #5892fc;
    border: none;
    color: white;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
  }
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 30px auto;

  &>a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.winner-input  { 
  border: none;
  width: 4.5ch;
  background: 
    repeating-linear-gradient(90deg, 
        dimgrey 0, 
        dimgrey 1ch, 
        transparent 0, 
        transparent 1.5ch) 
      0 100%/88% 2px no-repeat;
  color: dimgrey;
  font: 5ch consolas, monospace;
  letter-spacing: .5ch;
  color: transparent;
  text-shadow: 0px 0px 1px dimgrey;
  display: block;
  margin: 0 auto 30px auto;
}
.save {
  margin-left: -12px;
}
